{% extends "base.html" %}

{% block title %}Přihlášení{% endblock %}

{% block content %}
    <h1>Přihlášení</h1>
    <form method="post" action="/login">
        <label for="username">Uživatelské jméno:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="secret_word">Tajné slovo:</label>
        <input type="text" id="secret_word" name="secret_word" required><br><br>

        <button type="submit">Přihlásit</button>
    </form>
{% endblock %}
